<div class="columns">
  <div class="column is-3">
    <app-side-nav></app-side-nav>
  </div>
  <div class="column is-3" *ngFor="let user of users">

    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              {{user.username}}
            </p>
            <p class="subtitle is-6">
              {{user.email}}
            </p>
          </div>
        </div>
        <div class="block">
          <a class="button is-info is-small m-l-10" (click)="following(user)">
            <i class="far fa-meh-rolling-eyes"></i> Follow</a>

        </div>
      </div>
    </div>
  </div>

</div>