<form [formGroup]="productForm" (ngSubmit)="onSave()">
  <div class="field">
    <label class="label">Name</label>
    <p class="control">
      <input class="input" formControlName="name" type="text" placeholder="please enter product name">
    </p>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <p class="control">
      <textarea name="description" id="" class="textarea" formControlName="description" cols="5" rows="3"></textarea>
    </p>
  </div>

  <div class="field">
    <label class="label">Price</label>
    <p class="control">
      <input class="input" type="text" formControlName="price" placeholder="please enter price">
    </p>
  </div>

  <div class="field">
    <label class="label">Upload image</label>
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" formControlName="image" name="resume">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      </label>
    </div>
  </div>

  <div class="field is-grouped">
    <p class="control">
      <button class="button is-primary is-small" [disabled]="productForm.invalid" type="submit">Submit</button>
    </p>
    <p class="control">
      <button class="button is-link is-small">Cancel</button>
    </p>
  </div>
</form>