<div class="container">
  <article class="media" *ngFor="let item of notifications">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          {{item.message}}
          <br>
          {{timeFromNow(item.created)}}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" (click)="MarkNotification(item)">
            <span class="icon is-small"><i class="far fa-check-square"></i></span>
          </a>
          <a class="level-item" (click)="DeleteNotification(item)">
            <span class="icon is-small"><i class="far fa-trash-alt"></i></span>
          </a>

        </div>
      </nav>
    </div>

  </article>
</div>